<div id="main-container" class="container-fluid">
    <div class="row">
        <div id="main-content-container" class="col-sm-12 col-md-12">

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="jumbotron">
                            <h1>Data Lovers</h1>
                            <a href="https://constlaf.github.io/SCL013-data-lovers/src/index.html">
                                <img class="img-fluid" src="../../../assets/images/projects/datalovers.jpg" alt="data lovers">
                            </a>
                            <p class="lead">
                                Pokeweb es una página creada para los jugadores nuevos en el mundo de Pokémon GO, 
                                donde les ayudará a conocer los primeros 151 Pokemon de la región de Kantō, con los datos 
                                necesarios para poder empezar y conocer al detalle cada uno, brindándole además algunos tips 
                                para iniciar.
                            </p> 
                            <span>Haz click en la imagen para visitar la página</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="jumbotron">
                            <h1>Lofche</h1>
                            <a href="https://lofche-5e070.web.app/">
                                <img class="img-fluid" src="../../../assets/images/projects/lofche .jpg" alt="lofche">
                            </a>
                            <p class="lead">
                                Lofche significa "Comunidad" en el idioma Mapudungun. ¡Y eso es lo que somos! Una comunidad para 
                                averiguar todas aquellas cosas que no sabemos, aquellas cosas que buscamos y no encontramos. ¡Ayuda y 
                                conexión constante con tu ciudad y las almas que viven en ella!
                                <br>
                                Red social dirigida a personas que pertenezcan a una comunidad, vecindad o barrio, que deseen conectar y generar redes de apoyo.
                            </p> 
                            <span>Haz click en la imagen para visitar la página</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="jumbotron">
                            <h1>Itadakimasu</h1>
                            <a href="https://itadakimasu-76cf7.firebaseapp.com/home">
                                <img class="img-fluid" src="../../../assets/images/projects/itadakimasu.jpg" alt="itadakimasu">
                            </a>
                            <p class="lead">
                                La tecnología cambia y avanza casi de manera diaria, contribuyendo a mejorar a alargar el tiempo de vida y 
                                aumentando la calidad de vida de las personas, aportando herramientas que optimicen tiempos y permitan organizar la información. 
                                Este proyecto nace de la necesidad de un orden y comunicación eficaz entre el equipo de meserxs y los encargados de cocina en el restaurante Itadakimasu, 
                                por lo que se ha creado una aplicación web que respondiera a esta necesidad.
                            </p> 
                            <span>Haz click en la imagen para visitar la página</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="jumbotron">
                            <h1>Fact Checker Covid Fun Trivia</h1>
                            <a href="https://elquelasiguelaconsigue-7ea50.web.app/h">
                                <img class="img-fluid" src="../../../assets/images/projects/triviahh.jpg" alt="trivia fact checker covid">
                            </a>
                            <p class="lead">
                                Es una plataforma web desarrollada como práctica profesional para la empresa Hooti Hoo, que otorga información veráz y confiable sobre el Covid- 19 de manera lúdica y que además 
                                cumple con los criterios de conformidad de la accesibilidad WCAG2.0 de nivel AA . El objetivo final de este producto es 
                                educar al usuario a distinguir entre información confiable o fakenews fomentando el autocuidado, siendo así un aporte en esta
                                 lucha contra la pandemia global.
                            </p> 
                            <span>Haz click en la imagen para visitar la página</span>
                            <br>
                            <a href="https://hootiehoo.cl/#/">Y haz click aquí para visitar a Hootie Hoo</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
