<section>
    <div class="container" style="background-color: crimson;">
      <div class="row align-items-center">
        <div class="col-md-6 order-1" style="background-color: aliceblue;">
          <div class="p-5" style="background-color: aquamarine;">
            <img class="img-fluid rounded-circle" src="../../../assets/images/logos/js.svg" alt="">
          </div>
        </div>
        <div class="col-md-6 order-2" style="background-color: beige;">
          <div class="p-5">
            <h2 class="display-4">Hola soy una prueba de orden.</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  