<div id="main-container" class="container-fluid">
    <div class="row">
        <div id="main-content-container" class="col-md-12">
            <div class="container">
                <div class="row skillsStyle" >
                    <div class="col-md-6"> <!-- text-md-center -->
                        <div class="row">
                            <div class="col-12 text-md-center">
                                <p class="contactStyleText contactStyleTextTitle">Tecnologías</p>
                            </div>
                            <div class="col-4 text-md-center">
                                <img src="../../../assets/images/logos/html.svg" alt="html5">
                                <p class="contactStyleText">HTML5</p>
                            </div>
                            <div class="col-4 text-md-center">
                                <img src="../../../assets/images/logos/js.svg" alt="javascript">
                                <p class="contactStyleText">JAVASCRIPT</p>
                            </div>
                            <div class="col-4 text-md-center">
                                <img src="../../../assets/images/logos/css.svg" alt="css3">
                                <p class="contactStyleText">CSS3</p>
                            </div>
                            <div class="col-4 text-md-center">
                                <img src="../../../assets/images/logos/css.svg" alt="css3">
                                <p class="contactStyleText">CSS3</p>
                            </div>
                            <div class="col-4 text-md-center">
                                <img src="../../../assets/images/logos/ts.svg" alt="typescript">
                                <p class="contactStyleText">TYPESCRIPT</p>
                            </div>
                            <div class="col-4 text-md-center">
                                <img src="../../../assets/images/logos/nodejs.svg" alt="node.js">
                                <p class="contactStyleText">NODE.JS</p>
                            </div>
                            <div class="col-4 text-md-center">
                                <img src="../../../assets/images/logos/git.svg" alt="git">
                                <p class="contactStyleText">GIT</p>
                            </div>
                            <div class="col-4 text-md-center">
                                <img src="../../../assets/images/logos/angular.svg" alt="angular">
                                <p class="contactStyleText">ANGULAR</p>
                            </div>
                            <div class="col-4 text-md-center">
                                <img src="../../../assets/images/logos/bootstrap.svg" alt="bootstrap">
                                <p class="contactStyleText">BOOTSTRAP</p>
                            </div>
                            <div class="col-4 text-md-center">
                                <img src="../../../assets/images/logos/firebase.svg" alt="firebase">
                                <p class="contactStyleText">FIREBASE</p>
                            </div>
                            <div class="col-4 text-md-center">
                                <img src="../../../assets/images/logos/npm.svg" alt="npm">
                                <p class="contactStyleText">NPM</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"> <!-- text-md-center -->
                        <div class="row">
                            <div class="col-12 text-md-center">
                                <p class="contactStyleText contactStyleTextTitle">Herramientas</p>
                            </div>
                            <div class="col-4 text-md-center">
                                <img src="../../../assets/images/logos/github.svg" alt="github">
                                <p class="contactStyleText">GITHUB</p>
                            </div>
                            <div class="col-4 text-md-center">
                                <img src="../../../assets/images/logos/trello.svg" alt="trello">
                                <p class="contactStyleText">TRELLO</p>
                            </div>
                            <div class="col-4 text-md-center">
                                <img src="../../../assets/images/logos/vscode.svg" alt="visual studio code">
                                <p class="contactStyleText">VS CODE</p>
                            </div>
                            <div class="col-4 text-md-center">
                                <img src="../../../assets/images/logos/figma.svg" alt="figma">
                                <p class="contactStyleText">FIGMA</p>
                            </div>
                            <div class="col-4 text-md-center">
                                <img src="../../../assets/images/logos/invision.svg" alt="invision">
                                <p class="contactStyleText">INVISION</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>        

<!--
<div class="d-flex flex-row">
    <div>
        <h3>Tecnologías</h3>
    </div>
    <div class="d-flex flex-column">
        <img src="../../../assets/images/logos/html.svg" alt="html5">
        <p>HTML5</p>
    </div>
    <div class="d-flex flex-column">
        <img src="../../../assets/images/logos/js.svg" alt="javascript">
        <p>JAVASCRIPT</p>
    </div>
    <div class="d-flex flex-column">
        <img src="../../../assets/images/logos/css.svg" alt="css3">
        <p>CSS3</p>
    </div>
    <div class="d-flex flex-column">
        <img src="../../../assets/images/logos/ts.svg" alt="typescript">
        <p>TYPESCRIPT</p>
    </div>
    <div class="d-flex flex-column">
        <img src="../../../assets/images/logos/nodejs.svg" alt="node.js">
        <p>NODE.JS</p>
    </div>
    <div class="d-flex flex-column">
        <img src="../../../assets/images/logos/git.svg" alt="git">
        <p>GIT</p>
    </div>
    <div class="d-flex flex-column">
        <img src="../../../assets/images/logos/angular.svg" alt="angular">
        <p>ANGULAR</p>
    </div>
    <div class="d-flex flex-column">
        <img src="../../../assets/images/logos/bootstrap.svg" alt="bootstrap">
        <p>BOOTSTRAP</p>
    </div>
    <div class="d-flex flex-column">
        <img src="../../../assets/images/logos/firebase.svg" alt="firebase">
        <p>FIREBASE</p>
    </div>
    <div class="d-flex flex-column">
        <img src="../../../assets/images/logos/npm.svg" alt="npm">
        <p>NPM</p>
    </div>

    <div>
        <div>
            <h3>Herramientas</h3>
        </div>
        <div class="d-flex flex-column">
            <img src="../../../assets/images/logos/github.svg" alt="github">
            <p>GITHUB</p>
        </div>
        <div class="d-flex flex-column">
            <img src="../../../assets/images/logos/trello.svg" alt="trello">
            <p>TRELLO</p>
        </div>
        <div class="d-flex flex-column">
            <img src="../../../assets/images/logos/vscode.svg" alt="visual studio code">
            <p>VS CODE</p>
        </div>
        <div class="d-flex flex-column">
            <img src="../../../assets/images/logos/figma.svg" alt="figma">
            <p>FIGMA</p>
        </div>
        <div class="d-flex flex-column">
            <img src="../../../assets/images/logos/invision.svg" alt="invision">
            <p>INVISION</p>
        </div>
    </div>
</div>
-->

